rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow anyone (public) to read/download files
      allow read: if true;
      
      // Allow only logged-in (authenticated) users to upload, update, or delete files
      allow write: if request.auth != null;
    }
  }
}
